<h1>Edit Account</h1>

<%= form_for @user do |f| %>

<!--List and show all form's error messages-->
<%= render 'error_messages' %>

<!--Form for editing-->
<ul class="form-style-1">
	<li>
		<%= f.label :name, 'Name' %>
		<%= f.text_field :name, placeholder: "What's your name?" %>
	</li>

	<li>
		<%= f.label :name, 'Name' %>
		<%= f.email_field :email, placeholder: "What's your e-mail address?" %>
	</li>

<li><%= f.submit 'Submit', class: 'submit-bnt' %></li>
</ul>

<% end %>

<!--Link to return to account page-->
<%= link_to "Return", user_path(@user) %>