<h1>Projects</h1>

<!--Check if the current user has any records-->
<% @current_user = User.find session[:user_id]%>

<% if Project.where(user_id: @current_user.id).any? %>

<p>Here is all projects that you created.</p>
<!--Table to display all projects (created by the current user in a session) and it's attributes-->
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Budget</th>
      <th>Start Date</th>
      <th>Actions</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  	<tbody>
	<% @projects.each do |project| %>
		<tr>
			<td><%= project.name %></td>
			<td><%= project.description %></td>
			<td><%= project.budget %></td>
			<td><%= project.start_date %></td>
			<td>
        <span><i class="fa fa-search"></i><%= link_to "View", project%></span>
      </td>
		</tr>
	<% end %>
	</tbody>
</table>

<% else %>

<p>There's no project yet. Create a new one!</p>

<% end %>

<!--Links to return to home page or create a new project-->
<button class="button"><%= link_to 'New Project', new_project_path %></button>
