<!--Show all project's attributes-->
<h1><%= @project.name %></h1>

<p><strong>Description:</strong> <%= @project.description %></p>
<p><strong>Budget:</strong> <%= @project.budget %></p>
<p><strong>Start date:</strong> <%= @project.start_date %></p>

<!--Links to edit/delete the project or return to all projects-->
<button class="button"><%= link_to "All Projects", projects_path %></button>
<button class="button"><%= link_to "Edit", edit_project_path(@project) %></button>
<button class="button"><%= link_to 'Delete', project_path(@project), method: :delete, data:{ confirm: 'Are you sure?'} %></button>	
