<%= form_for @bug do |f| %>

<!--List and show all error messages-->
<% if @bug.errors.any? %>
<div class="error_messages">
  <h2>Form is invalid</h2>
  <ul>
    <% @bug.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<!--Form's field-->
<ul class="form-style-1">

  <li>
    <%= f.label :name, 'Bug Name' %>
    <%= f.text_field :name, placeholder: "What the name of this bug?" %>
  </li>

  <li>
    <%= f.label :bug_type, 'Bug Type' %>
    <%= f.text_field :bug_type, placeholder: "What is this bug's type?" %>
  </li>

  <li>
    <%= f.label :description, 'Bug Description' %>
    <%= f.text_area :description, placeholder: "What this bug cause?" %>
  </li>

  <li>
    <%= f.label :project_id, 'Project' %>
    <% @current_user = User.find session[:user_id] %>
    <%= f.select :project_id, Project.where(user_id: @current_user.id).collect {|p| [ p.name, p.id] }, prompt: 'From what project is this bug?' %>
  </li>

  <li><%= f.submit 'Submit', class: 'submit-bnt' %></li>
</ul>

<% end %>
