<h1>Bugs</h1>

<!--Check if the current user has any records-->
<% @current_user = User.find session[:user_id]%>

<% if Bug.where(user_id: @current_user.id).any? %>

<p>Here is all bugs that you created.</p> 

<!--Table to display all bugs (created by the current user in a session) and it's attributes-->
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Solve</th>
      <th>Project</th>
      <th>Actions</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= bug.name %></td>
        <td><%= bug.bug_type %></td>
        <td><%= bug.description %></td>
        <td><%= bool_to_str(bug.solve) %></td>
        <td><%= Project.find_by(id: bug.project_id).name %></td>
        <td>
          <span><i class="fa fa-search"></i><%= link_to "View", bug%></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>

<p>There's no bug yet. Create a new one!</p>

<% end %>

<!--Links to return to home page or create a new bug-->
<button class="button"><%= link_to 'New Bug', new_bug_path %></button>


