<h1>Bugs</h1>

<!--Table to display all bugs (created by the current user in a session) and it's attributes-->
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Solve</th>
      <th>Project</th>
      <th>Created by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= link_to bug.name, bug %></td>
        <td><%= bug.bug_type %></td>
        <td><%= bug.description %></td>
        <td><%= bug.solve %></td>
        <td><%= Project.find_by(id: bug.project_id).name %></td>
        <td><%= User.find_by(id: bug.user_id).name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--Links to return to home page or create a new bug-->
<p>
  <%= link_to "Home", home_path %> |
  <%= link_to 'New Bug', new_bug_path %>
</p>

