<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Challenge Dev Mariana</title>
  <%= stylesheet_link_tag "main", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

	<% if logged_in? %>
		<nav>
			<div class = 'logout-bnt'><%= link_to 'Logout', logout_path%></div>
		</nav>
	<% else %>
		<header>Project Managment Application</header>
	<% end %>

	<%= render 'layouts/flash_messages' if !flash.empty? %>

<%= yield %>

</body>

</html>